.keyword{
	-fx-fill: blue;
	-fx-font-weight: bold;
}

.valid-parameter{
  -fx-fill: green;
	-fx-font-weight: bold;
}

.invalid-parameter{
  -fx-fill: red;
  -fx-font-weight: bold;
}

.valid-name{
  -fx-fill: purple;
  -fx-font-weight: bold;
}
